<section class="featured-products-man-section">
  <div class="page-width">
    <h2> {{ section.settings.title }} </h2>
    <div class="rte">
      {{ section.settings.add_text }}
    </div>
    <div class="product-grid_inner">



  <ul class="featured-products">
    {%- for block in section.blocks -%} 
      <li>
        {% if block.settings.image_custom != blank %}
        <h3> {{ block.settings.title_custom }} </h3>
         {% else %}
        <h3> {{ block.settings.product.title }} </h3>
        {% endif %}
        
        {% if block.settings.image_custom != blank %}
           <img src="{{ block.settings.image_custom | img_url: '600x600' }}" alt="{{ block.settings.image_custom }}" />
        
          {% else %}
           <img src="{{ block.settings.product.featured_image | img_url: '600x600' }}" alt="{{product.featured_image.alt}}" />
          {% endif %}
        
          <div class="card__button">
          <a href="{{ block.settings.product.url }}"> Shop Now <span class="icon-wrap">{% render 'icon-arrow' %}</span> </a>
        </div>
      </li>
    {% endfor %}
  </ul>
      
      
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured Man Section",
    "settings": [
       {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "add_text",
        "label": "Add text"
      }
    ],
    
    "blocks": [
    {
      "type": "featured-list",
      "name": "Featured Products",
        "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.featured-product.settings.product.label"
        },
        {
          "type": "text",
          "id": "title_custom",
          "label": "Custom Title"
        },
        {
          "type": "image_picker",
          "id": "image_custom",
          "label": "Custom Image"
        }
      ]
    }
  ],
      "presets": [
    {
      "name": "Featured Man Section"
    }
  ]
  }
{% endschema %}


<style>
.featured-products-man-section {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 124px 0 57px;
}
.featured-products-man-section h2 {
  font-size: 62px;
  font-weight: 400;
  line-height: 1;
  font-family: "Anton", sans-serif;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 24px;
  text-transform: uppercase;
}
.featured-products-man-section .rte {
  width: 100%;
  max-width: 1292px;
  margin: 0 auto 46px;
  font-size: 23px;
  line-height: 1.4;
  letter-spacing: 0;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.featured-products-man-section .product-grid_inner {
margin-top: 55px;
}
.featured-products-man-section .product-grid_inner ul.featured-products {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  list-style: none;
}
.featured-products-man-section .product-grid_inner ul.featured-products li {
  background-color: rgba(240, 240, 240, 1);
  text-align: center;
  padding: 34px 18px;
}
.featured-products-man-section .product-grid_inner ul.featured-products li h3 {
  font-size: 27px;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  /* font-family: Inter; */
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  font-family: "Nunito Sans", sans-serif;
}
.featured-products-man-section .product-grid_inner ul.featured-products li .card__button a {
  width: 100%;
  background-color: rgba(76, 58, 44, 1);
  color: #fff;
  text-decoration: none;
  padding: 11px 6px;
  /* font-family: Inter; */
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 4px;
}
.featured-products-man-section .product-grid_inner ul.featured-products li img {
  width: 100%;
  max-width: 292px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px){
  .featured-products-man-section .rte{
    font-size: 18px;
    margin: 0 0 20px;
  }
  .featured-products-man-section .product-grid_inner ul.featured-products li h3 {
    font-size: 22px;
  }

}
  
@media only screen and (max-width: 991px){
  .featured-products-man-section h2 {
    font-size: 40px;
  }
  .featured-products-man-section .product-grid_inner {
    margin-top: 20px;
  } 
}

@media only screen and (max-width: 767px){
  .featured-products-man-section .product-grid_inner ul.featured-products li h3 {
    font-size: 18px;
  }
  .featured-products-man-section .product-grid_inner ul.featured-products {
    grid-template-columns: repeat(1, 1fr);
  }
  .featured-products-man-section {
    padding: 40px 0 50px;
  }
  .featured-products-man-section .rte {
    font-size: 16px;
    margin: 0 0 20px;
  }
  .featured-products-man-section h2 {
    margin: 0 0 15px;
  }
}
</style>