<section class="great-days-products-section">
  <div class="page-width">
    <h2>{{ section.settings.title }}</h2>
    <div class="rte">
      {{ section.settings.add_text }}
    </div>

    <ul class="great-featured-products">
      {%- for block in section.blocks -%}
        <li>
          {% if block.settings.image_custom != blank %}
            <img src="{{ block.settings.image_custom | img_url: '600x600' }}" alt="{{ block.settings.image_custom }}">
          {% else %}
            <img
              src="{{ block.settings.product.featured_image | img_url: '600x600' }}"
              alt="{{product.featured_image.alt}}"
            >
          {% endif %}

          {% if block.settings.title_custom != blank %}
            <h3>{{ block.settings.title_custom }}</h3>
          {% else %}
            <h3>{{ block.settings.product.title }}</h3>
          {% endif %}

          <div class="short_info">
            <p>{{ block.settings.short_info }}</p>
          </div>

          <div class="card__button">
            <a href="{{ block.settings.product.url }}">
              Shop Now <span class="icon-wrap">{% render 'icon-arrow' %}</span>
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "Great Product Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "add_text",
      "label": "Add text"
    }
  ],
    "blocks": [
  {
    "type": "featured-list",
    "name": "Featured Products",
      "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "t:sections.featured-product.settings.product.label"
      },
      {
        "type": "image_picker",
        "id": "image_custom",
        "label": "Custom Image"
      },
      {
        "type": "text",
        "id": "title_custom",
        "label": "Custom Title"
      },
      {
        "type": "text",
        "id": "short_info",
        "label": "Short Info"
      }
    ]
  }
],
        "presets": [
  {
    "name": "Great Product Section"
  }
]
}
{% endschema %}

<style>
    .great-days-products-section {
      width: 100%;
      display: inline-block;
      padding: 108px 0 25px;
      vertical-align: top;
    }
    .great-days-products-section h2 {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 700;
      font-size: 63px;
      line-height: 1.04;
      color: rgba(18, 18, 18, 1);
      margin: 0;
      width: 100%;
      max-width: 100%;
      letter-spacing: 0;
      text-align: center;
      margin: 0 0 25px;
    }
    .great-days-products-section  .rte {
      width: 100%;
      max-width: 1292px;
      margin: 0 auto 0;
      font-size: 23px;
      line-height: 1.4;
      letter-spacing: 0;
      font-family: "Nunito Sans", sans-serif;
      text-align: center;
      color: rgba(0, 0, 0, 1);
    }
    .great-days-products-section  ul.great-featured-products {
      padding: 0;
      margin: 81px 0 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 13px;
      grid-row-gap: 13px;
      list-style: none;
    }

  .great-days-products-section ul.great-featured-products li {
      background-color: rgba(254, 250, 243, 1);
      text-align: center;
      padding: 38px 15px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
    .great-days-products-section ul.great-featured-products li img {
      width: 100%;
      max-width: 383px;
    }
     .great-days-products-section .card__button {
      width: 100% !important;
  }
    .great-days-products-section ul.great-featured-products li h3 {
      font-size: 27px;
      line-height: 1.2;
      text-align: center;
      font-weight: 600;
      /* font-family: Inter; */
      font-family: "Nunito Sans", sans-serif;
      margin: 0 0 10px;
      text-transform: uppercase;
      letter-spacing: 0;
    }
    .great-days-products-section ul.great-featured-products li .short_info p {
        width: 100%;
        max-width: 100%;
        margin: 10px auto 25px;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 0;
        font-family: "Nunito Sans", sans-serif;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        padding: 0 2rem;
    }
    .great-days-products-section ul.great-featured-products li .card__button a {
      width: 100%;
      background-color: rgba(76, 58, 44, 1);
      color: #fff;
      text-decoration: none;
      padding: 11px 6px;
      /* font-family: Inter; */
      font-family: "Nunito Sans", sans-serif;
      font-size: 15px;
      display: flex;
      justify-content: center;
      gap: 4px;
    }

    @media only screen and (max-width: 1024px){
      .great-days-products-section .rte{
        font-size: 18px;
        margin: 0 0 20px;
      }
      .great-days-products-section h2 {
        font-size: 34px;
        margin: 0 0 15px;
      }
      .featured-products-man-section .product-grid_inner ul.featured-products li h3 {
        font-size: 22px;
      }
      .great-days-products-section ul.great-featured-products li h3 {
        margin: 30px 0 0;
        font-size: 22px;
      }
      .great-days-products-section ul.great-featured-products li .short_info p {
        font-size: 20px;
        margin: 10px auto 15px;
      }
      .great-days-products-section ul.great-featured-products {
        margin: 30px 0 0;
      }
      .great-days-products-section {
        padding: 50px 0 25px;
        vertical-align: top;
      }
    }

    @media only screen and (max-width: 767px){
      .great-days-products-section ul.great-featured-products {
        grid-template-columns: repeat(1, 1fr);
      }
      .great-days-products-section ul.great-featured-products li img {
        width: 100%;
        max-width: 200px;
      }
      .great-days-products-section ul.great-featured-products li {
        padding: 15px;
      }
      .great-days-products-section ul.great-featured-products li .short_info p {
        font-size: 16px;
      }
      .great-days-products-section ul.great-featured-products li h3 {
        margin: 15px 0 0;
        font-size: 20px;
      }
    }
</style>
