{% schema %}
{
  "name": "Grid College Images Men",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Bg Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Community is Growing"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Share your journey with us"
    },
    {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
         {
          "type": "text",
          "id": "flex_id",
          "label": "Block Id"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Grid College Images Men",
      "category": "Image"
    }
  ]
}
{% endschema %}

<style>

.grid-college-headings h2,
.grid-college-headings p {
  color: {{ section.settings.text_color }};
}
.section-{{ section.id }}-padding .Grid_College_images{
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding  .Grid_College_images {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
.Grid_College_images .flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-item.third-img {
  transform: translate(-3rem, 3rem);
}
.flex-item.sec-img {
  transform: translate(-2rem, 8rem) !important;
  position: relative;
  z-index:2;
}
.grid-college-headings {
  text-align: center;
}
.grid-college-headings h2 {
  margin-bottom: 0 !important;
}
.grid-college-headings p {
  margin-top: 5px !important;
}
.Grid_College_images .flex-item {
  flex: 0 1 auto;
  transition: transform .3s ease;
  margin: 0 !important;
}
.flex-item.fiveth-img {
  transform: translate(-2rem, 6rem);
}
.Grid_College_images .flex-item {
  flex: 0 1 auto;
  margin: 10px;
  transition: transform 0.3s ease;
}

.grid-college-wrapper-man .grid-college-headings h2 {
  margin: 0 0 24px !important;
  font-size: 62px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Anton", sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
}
.grid-college-wrapper-man .grid-college-headings p {
  width: 100%;
  max-width: 1292px;
  margin: 0 auto 50px;
  font-size: 23px;
  line-height: 1.4;
  letter-spacing: 0;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .grid-college-wrapper-man .grid-college-headings h2 {
    font-size: 40px;
  }
  .grid-college-wrapper-man .grid-college-headings h2 {
    font-size: 40px;
    margin: 0 0 15px !important;
  }
  .grid-college-wrapper-man .grid-college-headings p {
    margin: 0 auto 30px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .Grid_College_images .flex-item {
    transform: none !important;
  }
  .Grid_College_images .flex-container {
    display: block;
    width: 80% !important;
    margin: 0 auto;
  }
  .Grid_College_images .flex-container img {
    height:auto;
    width: 100% !important;
  }
  .grid-college-wrapper-man .grid-college-headings p {
    margin: 0 auto 30px;
    font-size: 16x;
  }
}

@media only screen and (max-width:1390px) and (min-width:1100px) {
  .Grid_College_images .flex-item {
    flex: 0 1 26%;
  }
}
</style>

<section class="section-{{ section.id }}-padding grid-college-wrapper grid-college-wrapper-man">
  <div class="Grid_College_images" style="background:{{ section.settings.background_color }};">
    <div class="page-width">
      <div class="grid-college-headings">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.subtitle }}</p>
      </div>
    </div>

    <div class="flex-container grid-college-images">
      {% for block in section.blocks %}
        <div class="flex-item {{ block.settings.flex_id }}">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
        </div>
      {% endfor %}
    </div>
  </div>
</section>
