{{ 'quiz-section.css' | asset_url | stylesheet_tag }}

<section class="quiz-introduction" id="{{ section.settings.customID }}">
  <div
    class="quiz-intro-wrapper {% if section.settings.fullwidth %}two-cols-wrapper{% endif %}"
    style="background-color:{{ section.settings.colorcode }}"
  >
    {% unless section.settings.fullwidth %}
      <div class="quiz-intro-content">
        <div class="qz-content-wrapper">
          <h1>{{ section.settings.heading }}</h1>
          <div class="qz-before-after">
            <div class="qz-before-content">
              <img src="{{ section.settings.imgreview | img_url:'master' }}">
              <p class="qz-before-desc">{{ section.settings.review }}</p>
              <p class="qz-before-author">{{ section.settings.author }}</p>
            </div>
            <div class="qz-product">
              <img src="{{ section.settings.pd-img | img_url:'master'}}">
            </div>
          </div>
          <div class="fda-approved">{{ section.settings['fda-approved'] }}</div>
        </div>
      </div>
    {% endunless %}
    <div class="quiz-intro-quiz">
      <div class="quiz-steps-wrapper">
        <div class="numbered-navigation">
          <span class="nav-circle active">1</span>
          <span class="nav-line"></span>
          <span class="nav-circle {% if section.settings.secondactive %} active {% endif %}">2</span>
          <span class="nav-line"></span>
          <span class="nav-circle {% if section.settings.thirdactive %} active {% endif %}">3</span>
        </div>
        <div class="quiz-heading">{{ section.settings['quiz-heading'] }}</div>
        <div class="button-wrappers-quiz">
          {% if section.settings.option1link %}
            <a href="{{ section.settings.option1link }}" class="quiz-btn-option">{{ section.settings.option1txt }}</a>
          {% endif %}
          {% if section.settings.option2link %}
            <a href="{{ section.settings.option2link }}" class="quiz-btn-option">{{ section.settings.option2txt }}</a>
          {% endif %}
          {% if section.settings.option3link %}
            <a href="{{ section.settings.option3link }}" class="quiz-btn-option">{{ section.settings.option3txt }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Quiz Introduction",
  "settings": [
     {
      "type": "text",
      "id": "customID",
      "label": "Custom ID"
    },

       {
      "type": "checkbox",
      "id": "secondactive",
      "label": "2nd step active"
    },
       {
      "type": "checkbox",
      "id": "thirdactive",
      "label": "3rd step active"
    },
      {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Full width",
        "default": false
    },
     {
      "type": "color",
      "id": "colorcode",
      "label": "Quiz bg color"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text",
      "default": "Your Default Heading"
    },
    {
      "type": "image_picker",
      "id": "imgreview",
      "label": "Before Image"
    },
    {
      "type": "textarea",
      "id": "review",
      "label": "Review Description",
      "default": "Enter review here"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author Name",
      "default": "Author's Name"
    },
    {
      "type": "image_picker",
      "id": "pd-img",
      "label": "Product Image"
    },
    {
      "type": "text",
      "id": "fda-approved",
      "label": "FDA Approved Status",
      "default": "FDA Approval Info"
    },
    {
      "type": "text",
      "id": "quiz-heading",
      "label": "Quiz Heading",
      "default": "Your Quiz Heading"
    },
    {
      "type": "url",
      "id": "option1link",
      "label": "Option 1 Link"
    },
    {
      "type": "text",
      "id": "option1txt",
      "label": "Option 1 Text",
      "default": "Option 1"
    },
    {
      "type": "url",
      "id": "option2link",
      "label": "Option 2 Link"
    },
    {
      "type": "text",
      "id": "option2txt",
      "label": "Option 2 Text",
      "default": "Option 2"
    },
    {
      "type": "url",
      "id": "option3link",
      "label": "Option 3 Link"
    },
    {
      "type": "text",
      "id": "option3txt",
      "label": "Option 3 Text",
      "default": "Option 3"
    }
  ],
  "presets": [
    {
      "name": "Default Quiz Introduction",
      "category": "Quiz"
    }
  ]
}
{% endschema %}
