{{ 'rx-features-css.css' | asset_url | stylesheet_tag }}


<div class="ingrediants_for_growth_section">
  <div class="ingrediants_main_image_header">
    <h2>Ingrediants for growth section</h2>
    <span>Effective,prescription-grade ingrediants at higher strengths compared to comeptition</span>
  </div>
  <div class="ingrediants_content ingrediants-col-1">
    {% for block in section.blocks %}
      <div class="div_content_section">
        <h2 class="div_content_heading">{{ block.settings.header_col_1 }}</h2>
        <span class="div_content_desc">{{ block.settings.rx-features_description_col_1 }}</span>
      </div>
    {% endfor %}
  </div>
  <div class="ingrediants_main_image">
    <img src="{{ section.blocks[2].settings.center_image | img_url: 'master' }}" alt="">
  </div>
  <div class="ingrediants_content ingrediants-col-2">
    {% for block in section.blocks %}
      <div class="div_content_section">
        <h2 class="div_content_heading">{{ block.settings.header_col_2 }}</h2>
        <span class="div_content_desc">{{ block.settings.rx-features_description_col_2 }}</span>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "rx-features",
  "tag": "section",
  "class": "rx-features",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "rx-features Header"
    }
  ],
  "blocks": [
    {
      "name": "Add rx-features Col 1",
      "type": "block1", // Unique type for the first block
      "settings": [
        {
          "type": "text",
          "id": "header_col_1",
          "label": "Header"
        },
        {
          "type": "richtext",
          "id": "rx-features_description_col_1",
          "label": "Description"
        }
      ]
    },
    {
      "name": "Add rx-features Col 2",
      "type": "block2", // Unique type for the second block
      "settings": [
        {
          "type": "text",
          "id": "header_col_2",
          "label": "Header"
        },
        {
          "type": "richtext",
          "id": "rx-features_description_col_2",
          "label": "Description"
        }
      ]
    }, {
      "name": "Add Feature Image",
      "type": "block3", // Unique type for the second block
      "settings": [
        {
          "type": "image_picker",
          "id": "center_image",
          "label": "Feature Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "rx-features",
      "settings": {
        "title": "rx-features"
      },
      "blocks": [
        {
          "type": "block1" // Reference to the first block type
        },
        {
          "type": "block2" // Reference to the second block type
        },
        {
          "type": "block3" // Reference to the second block type
        },
      ]
    }
  ]
}
{% endschema %}