<style>
  .still-have_question .page-width{
    max-width: 1090px;
  }
.still-have_question{
   text-align: center; 
}
.still-heading{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  color: #000;
  margin-top: 0;
  margin-bottom: 20px;
}
.still-con-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  margin-top: 0;  
  margin: 0;
}
.still-inner-row p{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  width: 175px;
}
.still-inner-row{
  display: flex;
  justify-content: center;
}
.still-have-content{
  background: #efe8df;
  border: 1px solid rgb(220, 215, 206);
  padding: 25px;
}
.still-have-list p{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px){
  .still-heading{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .still-have-content{
    padding: 25px 15px;
  }
  .still-inner-row p{
    width: 100%;
  }
  .still-con-text{
    font-size: 15px;
  }
}
</style>
<section class="still-have_question" style='padding-top: {{ section.settings.padding_top }}px;padding-bottom: {{ section.settings.padding_bottom }}px;'>
	<div class="page-width">
		<div class="still-have-content">
            {% if section.settings.icon_image != blank %}
			<div class="still-have-img">
				<img src="{{ section.settings.icon_image | img_url: 'master' }}" alt="">
		    </div>
          {% endif %}
			<h2 class="still-heading">{{ section.settings.heading_text }}</h2>
			<p class="still-con-text">{{ section.settings.heading_text_sub }}</p>
			<div class="still-inner-row">
                {% for block in section.blocks %}          
    				<p><strong>{{ block.settings.label_text_bold  }}</strong><br>{{ block.settings.label_text | newline_to_br }}</p>
            	{% endfor %}
			</div>
			<p class="still-con-text">{{ section.settings.heading_text_inner }}</p>
		</div>
		<div class="still-have-list">
			<p>{{ section.settings.heading_Inner }}</p>
		</div>
	</div>
</section>
{% schema %}
  {
    "name": "Still Have Question",
    "settings": [
      {
        "type": "image_picker",
        "id": "icon_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text"
      },
      {
        "type": "textarea",
        "id": "heading_text_sub",
        "label": "Text"
      },
      {
        "type": "textarea",
        "id": "heading_text_inner",
        "label": "Text"
      },
      {
        "type": "textarea",
        "id": "heading_Inner",
        "label": "Text"
      },
       {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      }
    ],
    "blocks":[
      {
        "name": "text",
        "type": "text",
        "limit": 2,
        "settings":[
          {
            "type": "text",
            "id": "label_text_bold",
            "label": "Bold Text"
          },
          {
            "type": "textarea",
            "id": "label_text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Still Have Question"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}