<style>
.women-video_banner{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.women-video_banner-video{
  display: block;
  height: calc(100vh - 142px);
  object-fit: cover;
  object-position: bottom;
  max-width: 100%;
}
.women-video-banner-content{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}
.video-banner-list{
  padding: 0;
  margin-bottom: 0;
}
.video-banner-inner-content h2{
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
  margin-bottom: 24px;
}
.video-banner-list{
  list-style: none;
}
.video-banner-list li{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.video-banner-list li .videob-banner-icon svg{
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  margin-right: 12px;
}
.video-banner-inner-content .button{
  background: #fff;
  color: #000;
  margin: 25px 0;
}
.video-banner-inner-content .button:after{
  display: none;
}
.video-banner-inner-content  p{
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
  margin: 0;
  max-width: 480px;
}
.videob-banner-icon{
  line-height: 1;
}
/* @media only screen and (min-width: 1440px){
  .women-video-banner-content{
    margin-left: 8.33333%;
    width: 33.3333%;
  }
}
@media only screen and (min-width: 768px){
  .women-video-banner-content{
    margin-left: 12.5%;
    width: 75%;
  }
}
@media only screen and (min-width: 1024px){
  .women-video-banner-content{
    margin-left: 8.33333%;
    width: 37.5%;
  }
} */
@media only screen and (max-width: 991px){
  .video-banner-inner-content h2{
    font-size: 48px;
    margin-bottom: 18px;
  }
  .video-banner-list li{
    font-size: 16px;
  }
  .video-banner-list li .videob-banner-icon svg{
    margin-right: 5px;
  }
  .video-banner-inner-content .button{
    padding: 0 15px;
    margin: 15px 0;
  }
}
@media only screen and (max-width: 767px){
  .women-video_banner-video{
    height: 100%;
  }
  .women-video-banner-content{
    background: #efe8df;
    position: relative;
    width: 100%;
    padding: 20px 30px 60px 20px;
  }
  .video-banner-inner-content h2,
  .video-banner-list li,
  .video-banner-inner-content p{
    color: rgba(0, 0, 0, 0.89);
  }
  .video-banner-inner-content .button{
    background: rgba(0, 0, 0, 0.89);
    color: #fff;
    font-size: 14px;
    min-height: 40px;
  }
  .video-banner-inner-content h2{
    font-size: 38px;
  }
  .video-banner-list li{
    font-size: 15px;
  }
}
@media only screen and (max-width: 575px){
  .women-video-banner-content{
    padding: 20px 15px 50px 20px;
  }
  .video-banner-inner-content h2{
    font-size: 28px;
    margin-bottom: 15px;
  }
}
</style>

<section class="women-video_banner">
       {{ section.settings.video_url_banner | video_tag: width: 1920, class: 'women-video_banner-video' , image_size: '1100x', autoplay:true, loop: true, controls: false, muted: true }}
	<div class="women-video-banner-content page-width">
		<div class="video-banner-inner-content">
			<h2>{{ section.settings.women_heading | newline_to_br }}</h2>
			<ul class="video-banner-list">
              {% for block in section.blocks %}
                {% if block.settings.list_text != blank %}
				<li>
					<span class="videob-banner-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" viewBox="0 0 20 20" width="20"><g stroke-width="1.66667"><circle cx="9.99984" cy="9.99996" fill="#fff" r="7.5" stroke="#fff"/><path d="m6.6665 10.8334 2.08334 2.0833 4.58336-4.58333" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/></g></svg></span>
			{{ block.settings.list_text }}
                    </li>
                      {% endif %}
                {% endfor %}
			</ul>
               {% if section.settings.women_heading_url != blank  %} 
                  <a href="{{ section.settings.women_heading_url }}" class="button">{{ section.settings.women_heading_text }}</a>
                {% endif %}
                {% if section.settings.women_heading_p != blank %}
                <p>{{ section.settings.women_heading_p }}</p>
                {% endif %}
		</div>
	</div>
</section>
{% schema %}
  {
    "name": "Women Video Banner",
    "settings": [
        {
          "type": "video",
          "id": "video_url_banner",
          "label": "Video URL"
        },
      {
        "type": "textarea",
        "id": "women_heading",
        "label": "Heading Text"
      },
       {
        "type": "text",
        "id": "women_heading_text",
        "label": "Button Text"
      },
       {
        "type": "url",
        "id": "women_heading_url",
        "label": "Button Link"
      },
     {
        "type": "textarea",
        "id": "women_heading_p",
        "label": "Text"
      }
    ],
    "blocks":[
      {
        "name": "List",
        "type": "list",
        "settings":[
          {
            "type": "text",
            "id": "list_text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets":[
      {
         "name": "Women Video Banner"
      }
    ]
  }
{% endschema %}